<div class="text-field {{class}}">
	<input class="text-field__input" type="text" name="{{name}}" id="login" placeholder="{{placeholder}}" value="{{value}}"/>
	<label class="text-field__label" for="{{name}}">{{label}}</label>
</div>
