<div class="card card__{{class}}">
		<div class="card__title card__title-{{class}}">
			<h1>{{title}}</h1>
		</div>
		<div class=" card__body-{{class}} card__body">
			{{#>body}}
			{{/body}}
		</div>
		<div class="card__actions card__actions-{{class}}">
			{{#>actions}}
			{{/actions}}
		</div>
</div>
